# PostgreSQL configuration (matches docker-compose.yml defaults)
DB_NAME=wulims
DB_USER=wulims
DB_PASSWORD=wulims_dev_password
DB_HOST=localhost
DB_PORT=5432

# DEV settings
DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_DEBUG=1
DJANGO_SECRET_KEY=DEV_SECRET_KEY_CHANGE_ME
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DJANGO_PUBLIC_URL=http://localhost:8000

# Django super user for initial setup when deploying to k8s
DJANGO_SUPERUSER_PASSWORD=REPLACEME_WITH_SECURE_PASSWORD
DJANGO_SUPERUSER_EMAIL=YOUR_EMAIL
DJANGO_SUPERUSER_USERNAME="admin"
